/* nasaData | detailApod style */

.container{
    display: flex;
}

.containerAPIimg{
    border: 1px solid black;
    width: 800px;
    height: 100vh;
     
    

}

.explanationInfo{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    
}
.hd{
    color: rgb(231, 115, 27);

}

.desc{
    color: rgb(103, 83, 52);
}
.lnk{
    color: grey;
    font-size: 10px;
    margin-left: 3px;
}

/* nasaData style end */
/* Mars style start */

.card{
    margin-top: -10px;
}
.col{
    margin-left: 75px;
}


.MarsText .copyright{
    color: gray;
    font-size: 12px;
}

.MarsText .title{
    color: rgb(109, 109, 239);
    font-size: 12px;
}
.MarsText button{
    margin-top: 15px;
}

.btn-group{
    margin-button: -5px;
}
.image{
    margin-left: 100px;
    
}

/* header */

.header{
    height: 10vh;
   /*  background-image:url("/src/components/starts.jpeg"); */
   background-color:#212529;
}