@import "./Variables/";

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: $clr-white;
    color: $clr-dark;
    padding: 0.5rem 1rem;
    margin-inline:auto;
    transform: translateY(-101%);
    transition: transform 0.2s ease-in;

    &:focus {
        transform: translateY(0);
    }
}