/* colors */
/* font-sizes */
/* font-families */
.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: #fff;
  color: #0b0d17;
  padding: 0.5rem 1rem;
  margin-inline: auto;
  transform: translateY(-101%);
  transition: transform 0.2s ease-in;
}
.skip-to-content:focus {
  transform: translateY(0);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: -130px; /* ! */
}
@media screen and (min-width: 780px) {
  .primary-header::after {
    content: "";
    display: block;
    position: relative;
    height: 1px;
    width: 45%;
    margin-left: -1.5rem;
    background: hsla(0deg, 0%, 100%, 0.25);
    order: 1;
  }
}

nav {
  order: 2;
}

.logo {
  margin: 0rem clamp(1.5rem, 5vw, 3.5rem);
  width: 40px;
}
@media (max-width: 560px) {
  .logo {
    margin: 24px clamp(1.5rem, 5vw, 3.5rem);
  }
}
@media screen and (min-width: 560px) {
  .logo {
    width: auto;
  }
}

ul.primary-navigation {
  gap: clamp(1.5rem, 7vw, 3.3rem);
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  align-items: center;
  background: hsla(0deg, 0%, 100%, 0.2);
  transition: transform 0.5s ease-in-out;
}
@supports ((-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
  ul.primary-navigation {
    background: hsla(0deg, 0%, 100%, 0.1);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}
@media screen and (min-width: 560px) {
  ul.primary-navigation {
    padding: 0 clamp(3rem, 7vw, 7rem);
  }
}
@media (max-width: 560px) {
  ul.primary-navigation {
    gap: 0.5rem;
    padding: min(20rem, 18vh) 2rem;
    align-items: flex-start;
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 32%;
    z-index: 1000;
    transform: translate(0%);
  }
  ul.primary-navigation.hidden {
    transform: translate(100%);
  }
}
@media (min-width: 560px) and (max-width: 780px) {
  ul.primary-navigation {
    padding-inline: 3rem;
  }
}
@media screen and (min-width: 780px) {
  ul.primary-navigation {
    margin-block: 2rem;
  }
}

.mobile-nav-toggle {
  display: none;
}
@media (max-width: 560px) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1rem;
    top: 2rem;
    background: transparent;
    border: 0;
    background-position: center center;
    width: 1.5rem;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-image 0.5s ease;
  }
  .mobile-nav-toggle.open {
    background-image: url(../assets/shared/icon-hamburger.svg);
  }
  .mobile-nav-toggle.close {
    background-image: url(../assets/shared/icon-close.svg);
  }
}

.primary-navigation li {
  width: 100%;
}

.primary-navigation a {
  text-decoration: none;
  display: block;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.5em;
}
@media (min-width: 560px) and (max-width: 780px) {
  .primary-navigation a > span {
    display: none;
  }
}

/* direct descendent just to make sure style doesn't leak out */
.underline-indicator {
  padding: 2.2rem 0;
  border: 0;
  border-bottom: 0.2rem solid hsla(0deg, 0%, 100%, 0);
  transition: border 0.5s ease;
  background: 0;
}
@media (max-width: 560px) {
  .underline-indicator {
    padding: 0.5rem 0;
  }
}

.underline-indicator:hover,
.underline-indicator:focus {
  border-color: hsla(0deg, 0%, 100%, 0.5);
}

@media screen and (min-width: 560px) {
  .underline-indicator.active,
.underline-indicator[aria-selected=true] {
    color: hsl(0deg, 0%, 100%);
    border-color: hsl(0deg, 0%, 100%);
  }
}

/* colors */
/* font-sizes */
/* font-families */
.home {
  background-image: url(../assets/home/background-home-tablet.jpg);
  background-repeat: no-repeat;
  background-position: 0%;
}
@media screen and (min-width: 560px) {
  .home {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 780px) {
  .home {
    background-image: url(../assets/home/background-home-desktop.jpg);
    height: 100vh;
  }
}
.home h1 {
  letter-spacing: 2.7px;
  margin: 0 auto;
  margin-top: 100px;
  background-position: center center;
}
.home h1 span {
  margin: 18px 0;
}
@media screen and (min-width: 560px) {
  .home h1 {
    letter-spacing: 3.38px;
  }
}
@media screen and (min-width: 780px) {
  .home h1 {
    letter-spacing: 4.72px;
  }
}

@media screen and (min-width: 780px) {
  .grid-container--home {
    /* takes bigger of the two values */
    padding-bottom: max(6rem, 20vh);
    align-items: end;
    /* set which column they are */
  }
  .grid-container--home > *:first-child {
    grid-column: 2;
  }
  .grid-container--home > *:last-child {
    grid-column: 3;
  }
}

.large-button {
  margin-top: 40px;
  font-size: 1.25rem;
  display: inline-grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}
@media screen and (min-width: 560px) {
  .large-button {
    font-size: 2rem;
  }
}

.hover-effect {
  transition: box-shadow 0.5s ease-out;
}
.hover-effect:hover, .hover-effect:focus {
  box-shadow: 0px 0px 0px 2.5rem hsla(0deg, 0%, 100%, 0.1);
}

/* colors */
/* font-sizes */
/* font-families */
.destination {
  background-image: url(../assets/destination/background-destination-tablet.jpg);
  background-repeat: no-repeat;
}
@media screen and (min-width: 560px) {
  .destination {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 780px) {
  .destination {
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
  }
}
.destination h1 {
  letter-spacing: 2.7px;
}
.destination h1 span {
  margin: 18px 0;
}
@media screen and (min-width: 560px) {
  .destination h1 {
    letter-spacing: 3.38px;
  }
}
@media screen and (min-width: 780px) {
  .destination h1 {
    letter-spacing: 4.72px;
  }
}
.destination button {
  padding: 0.4rem 0;
  cursor: pointer;
}
.destination button.underline-indicator[aria-selected=true] {
  color: white;
  border-color: white;
}

main.grid-container--destination {
  grid-template-areas: "title" "image" "tabs" "content";
  overflow: hidden;
}
@media screen and (min-width: 780px) {
  main.grid-container--destination {
    justify-items: start;
    align-content: start;
    grid-template-areas: ". title title ." ". image tabs ." ". image content .";
  }
}
main.grid-container--destination .numbered-title {
  grid-area: title;
}
main.grid-container--destination picture {
  grid-area: image;
  max-width: 80%;
  align-self: start;
}
@media screen and (min-width: 780px) {
  main.grid-container--destination picture {
    max-width: 80%;
  }
}
main.grid-container--destination .tab-list {
  grid-area: tabs;
}
main.grid-container--destination .destination-info {
  grid-area: content;
}

div.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsla(0deg, 0%, 100%, 0.1);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}
@media screen and (min-width: 560px) {
  div.destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 780px) {
  div.destination-meta {
    justify-content: start;
    gap: min(5vw, 6rem);
  }
}
div.destination-meta p {
  font-size: 1.75rem;
  margin-top: 1rem;
}

.grid-container--destination.flow > *:where(:not(:first-child)) {
  margin-top: 2rem;
}

/* colors */
/* font-sizes */
/* font-families */
.crew {
  background-image: url(../assets/crew/background-crew-tablet.jpg);
  background-position: bottom;
}
@media screen and (min-width: 560px) {
  .crew {
    background-image: url(../assets/crew/background-crew-tablet.jpg);
    background-position: center center;
  }
}
@media screen and (min-width: 780px) {
  .crew {
    background-image: url(../assets/crew/background-crew-desktop.jpg);
  }
}
.crew h2 {
  color: hsla(0deg, 0%, 100%, 0.5);
}

main.grid-container--crew {
  grid-template-areas: "title" "image" "tabs" "content";
  overflow: hidden;
}
@media screen and (min-width: 560px) {
  main.grid-container--crew {
    grid-template-areas: "title" "content" "tabs" "image";
    padding-bottom: 0;
  }
}
@media screen and (min-width: 780px) {
  main.grid-container--crew {
    justify-items: start;
    align-content: start;
    grid-template-areas: ". title title ." ". content image ." ". tabs image .";
  }
  main.grid-container--crew picture {
    max-width: 90%;
  }
}
main.grid-container--crew .numbered-title {
  grid-area: title;
}
main.grid-container--crew picture {
  grid-area: image;
  border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.1);
}
main.grid-container--crew .dot-selectors {
  grid-area: tabs;
}
main.grid-container--crew .crew-details {
  grid-area: content;
}

/* colors */
/* font-sizes */
/* font-families */
.technology {
  background-image: url(../assets/technology/background-technology-mobile.jpg);
}
.technology main.grid-container {
  padding-inline: 0;
}
.technology h2 {
  letter-spacing: 2.36px;
  margin-bottom: 10px;
}
.technology .portrait {
  display: none;
}
.technology article,
.technology h1 {
  padding-left: 1rem;
}
.technology main img {
  max-width: 100%;
}
@media screen and (min-width: 560px) {
  .technology {
    background-image: url(../assets/technology/background-technology-tablet.jpg);
    background-position: center center;
  }
  .technology h2 {
    letter-spacing: 2.7px;
  }
}
@media screen and (min-width: 780px) {
  .technology {
    background-image: url(../assets/technology/background-technology-desktop.jpg);
  }
  .technology .portrait {
    display: block;
  }
  .technology .landscape {
    display: none;
  }
}

main.grid-container--tech {
  grid-template-areas: "title" "image" "tabs" "content";
  overflow: hidden;
}
@media screen and (min-width: 780px) {
  main.grid-container--tech {
    grid-template-columns: minmax(2rem, 1fr) auto repeat(2, minmax(0px, 80rem));
    justify-items: start;
    align-content: start;
    grid-template-areas: ". title title title " ". tabs content image ";
  }
  main.grid-container--tech picture {
    max-width: 90%;
    justify-self: end;
    margin: 0;
  }
}
main.grid-container--tech .numbered-title {
  grid-area: title;
}
main.grid-container--tech .picture {
  grid-area: image;
  align-self: start;
  justify-self: end;
  margin: 0;
  transition: opacity 0.5s ease-in-out;
}
main.grid-container--tech .number-selectors {
  grid-area: tabs;
}
@media screen and (min-width: 780px) {
  main.grid-container--tech .number-selectors {
    grid-gap: 2rem;
  }
}
main.grid-container--tech .tech-details {
  grid-area: content;
}

.grid-container--tech.flow > *:where(:not(:first-child)) {
  margin-top: 2rem;
}
@media screen and (min-width: 560px) {
  .grid-container--tech.flow > *:where(:not(:first-child)) {
    margin-top: 3.75rem;
  }
}
@media screen and (min-width: 780px) {
  .grid-container--tech.flow > *:where(:not(:first-child)) {
    margin-top: 0;
  }
}

/* colors */
/* font-sizes */
/* font-families */
/* general */
.page-wrap {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.flow--space-small > *:where(:not(:first-child)) {
  margin-top: 0.75rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  text-align: center;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 780px) {
  .grid-container {
    text-align: left;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0px, 80rem)) minmax(2rem, 1fr);
  }
}

.page-info {
  max-width: 459px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */
.bg-dark {
  background-color: #0b0d17;
}

.bg-accent {
  background-color: #d0d6f9;
}

.bg-white {
  background-color: #fff;
}

.text-dark {
  color: #0b0d17;
}

.text-accent {
  color: #d0d6f9;
}

.text-white {
  color: #fff;
}

/* typography */
.ff-serif {
  font-family: "Bellefair", serif;
}

.ff-sans-cond {
  font-family: "Barlow Condensed", sans-serif;
}

.ff-sans-normal {
  font-family: "Barlow", sans-serif;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: clamp(5rem, 17vw, 9.375rem);
}

.fs-800 {
  font-size: 3.5rem;
}
@media screen and (min-width: 560px) {
  .fs-800 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 780px) {
  .fs-800 {
    font-size: 6.25rem;
  }
}

.fs-600 {
  font-size: 1rem;
  /* 
  @include tablet {
  	font-size: $fs-600-lg;
  }
  @include desktop {
  	font-size: $fs-600-xlg;
  }
   */
}

.fs-550 {
  font-size: 1rem;
}

.fs-500 {
  font-size: 1rem;
}
@media screen and (min-width: 560px) {
  .fs-500 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 780px) {
  .fs-500 {
    font-size: 1.75rem;
  }
}

.fs-400 {
  font-size: 0.9375rem;
}
@media screen and (min-width: 560px) {
  .fs-400 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 780px) {
  .fs-400 {
    font-size: min(0.8rem + 0.5vw, 1.125rem);
  }
}

.fs-200 {
  font-size: 0.875rem;
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}
@media screen and (min-width: 560px) {
  .numbered-title {
    letter-spacing: 3.38px;
    justify-self: start;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 780px) {
  .numbered-title {
    letter-spacing: 4.72px;
  }
}
@media (min-width: 560px) and (max-width: 780px) {
  .numbered-title {
    margin-bottom: 1.75rem;
  }
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: 1rem;
  opacity: 0.25;
}

/* Components >>>  */
.tab-list {
  gap: 2rem;
}

.dot-indicator {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  padding: 0.5em;
  background-color: hsla(0deg, 0%, 100%, 0.25);
  transition: backgroound-color 0.3s ease-in-out;
  margin-top: 3rem;
}

.dot-indicator:hover,
.dot-indicator:focus {
  background-color: hsla(0deg, 0%, 100%, 0.5);
}

.dot-indicator[aria-selected=true] {
  background-color: hsl(0deg, 0%, 100%);
}

.number-selectors {
  flex-direction: row;
}
@media screen and (min-width: 780px) {
  .number-selectors {
    flex-direction: column;
  }
}

.number-selectors > * {
  color: #fff;
  background-color: #0b0d17;
  border: 1px solid hsla(0deg, 0%, 100%, 0.25);
  aspect-ratio: 1;
  padding: 0;
  width: 40px;
  border-radius: 50%;
  font-size: 1em;
  font-weight: normal;
  font-family: var(--f-serif);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
@media screen and (min-width: 560px) {
  .number-selectors > * {
    font-size: 1.5em;
    width: 60px;
  }
}
@media screen and (min-width: 780px) {
  .number-selectors > * {
    width: 80px;
  }
}

.number-selectors [aria-selected=true] {
  color: #0b0d17;
  background-color: #fff;
}

.number-selectors > button:hover {
  border: 1px solid #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: "Barlow", sans-serif;
  font-size: 0.9375rem;
  color: #fff;
  background-color: #0b0d17;
  line-height: 1.5;
}

img,
picture {
  max-width: 73%;
  display: block;
  margin-inline: auto;
  transition: opacity 0.5s ease-in-out;
}
@media screen and (min-width: 780px) {
  img,
picture {
    max-width: 93%;
  }
}

article {
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 1s ease-in-out;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}/*# sourceMappingURL=app.css.map */